.Button {
  font-weight: 600;
  font-size: 15px;
  border-radius: 8px;
  padding: 8px;
  min-width: 125px;
}

.LBlue {
  background-color: #49b2e8;
  color: #0b2c52;
  border: 2px solid #0b2c52;
}

.LBlue:hover {
  background-color: #49b2e8;
  color: white;
  border-color: white;
}

.DBlue {
  background-color: #0b2c52;
  color: #49b2e8;
  border: 2px solid #49b2e8;
}

.DBlue:hover {
  background-color: #0b2c52;
  color: white;
  border-color: white;
}

.LBlue:active,
.LBlue:focus {
  background-color: #49b2e8 !important;
  color: white !important;
  border-color: white !important;
}

.DBlue:active,
.DBlue:focus {
  background-color: #0b2c52 !important;
  color: white !important;
  border-color: white !important;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .Button {
    font-size: 18px;
    min-width: 135px;
  }
}
