.Text {
  font-size: 16px;
  margin-top: 20px;
  text-align: left;
}

.TextBold {
  font-weight: 600;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {

  .Text {
    font-size: 20px;
  }

  .ButtonContainer {
    margin: 0 230px;
  }
}
