/* Navbar */
.NavBar {
  display: flex;
  align-items: center;
  min-height: 136px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* styles for logo */
.LogoLink {
  display: flex;
  align-items: center;
}

.Logo {
  height: 150px;
  width: 180px;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

/* hamburger menu */
.MenuIcon {
  color: #0b2c52;
  border: 2px solid #0b2c52;
  margin-right: 5px;
}

.MenuIcon:active {
  color: #49b2e8;
}

/* nav links */
.NavLinks {
  display: flex;
  align-items: flex-end;
  padding-right: 5px;
}

/* Styles for screen sizes larger than 576px wide */
@media (min-width: 576px) {
  .Logo {
    width: 250px;
  }
}
