/* Navbar */
.NavBar {
  display: flex;
  align-items: center;
  min-height: 136px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* styles for logo */
.LogoLink {
  display: flex;
  align-items: center;
}

.Logo {
  height: 150px;
  width: 150px;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

/* hamburger menu */
.MenuIcon {
  margin-right: 3px;
  color: #0b2c52;
  border: 2px solid #0b2c52;
  margin-right: 15px;
}

.MenuIcon:active {
  color: #49b2e8;
}

/* nav links */
.NavLinks {
  display: flex;
  align-items: flex-end;
  padding-right: 15px;
}

/* Styles for screen sizes larger than 576px wide */
@media (min-width: 576px) {
  .Logo {
    height: 160px;
  }
}
