.Title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
}

.Description {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: left;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .Title {
    font-size: 20px;
  }

  .Description {
    font-size: 20px;
  }
}
