.Header {
  margin-top: 50px;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 30px;
}

.Text {
  font-size: 16px;
  margin-bottom: 40px;
  text-align: left;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .Header {
    font-size: 38px;
  }

  .Text {
    font-size: 20px;
  }
}
